.agent {
  grid-column: 6/9;
  grid-row: 1/-1;
  background: rgba(255, 255, 255, 0.46);
  padding: 5rem 2rem;
  display: grid;
  row-gap: 4.5rem;

  @media only screen and (max-width: 93.75em) {
    grid-column: 6/9;
  }

  @include respond(bp-large) {
    grid-column: 1/9;
    grid-row: 4;
    grid-template-columns: 1fr 2fr;
    row-gap: 4rem;
    align-items: center;
    grid-template-rows: repeat(2, max-content);
    column-gap: 5rem;
    row-gap: 7rem;
  }

  @include respond(bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }

  .avatar {
    grid-column: 1;
    justify-self: center;

    @include respond(bp-large) {
      grid-column: 1 / 1;
      align-self: center;
      grid-row: 2/ -1;
      width: 24rem;
      height: 24rem;
    }

    @include respond(bp-medium) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .sectionheading-left-bar {
    grid-column: 1;
    grid-row: unset;
    justify-self: center;
    margin: 0;

    @include respond(bp-large) {
      grid-column: 1/-1;
      grid-row: 1;
      justify-self: center;
    }

    @include respond(bp-medium) {
      grid-column: 1;
      grid-row: 2;
      justify-self: center;
    }
  }

  .sectionheading-left-bar .mainheading {
    font-size: 3rem;
  }

  .sectionheading-left-bar .subheading {
    font-size: 2.5rem;
  }

  .agent_socials {
    display: grid;
    row-gap: 2.2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr;
    max-width: 55rem;
    margin: 0 auto;    grid-template-columns: 1fr;
    max-width: 36rem;
    margin: 0 auto;

    @include respond(bp-large) {
      grid-column: 1 / -1;
      grid-row: 2;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }

    @include respond(bp-medium) {
      grid-column: 1;
      grid-row: 3;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1.7rem;
      font-weight: bold;

      img {
        height: 4rem !important;
        width: 4rem !important;
      }

     p {
      @include textOverFlowEllipsis();
     }

    }

  }

}