.suggestions-list {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  color: $secondary;
  font-weight: bold;
}

.suggestions-list li:hover {
  background: #f0f0f0;
}
