/*
COLORS:
*/


$primary: #1BC197;
$secondary: #415E8F;
$thirdcolor: #f6c88c;
$danger: #ff5100;
$success:#008b6d;
$warning:#ffcc26;
$info: #55a0ff;
$maintext: #38416d;
$white: #fff;
$offwhite: #F5EBD9;
$borderColor: rgb(212, 222, 239);
$placeholder-blue: #1353A4;
$lt-background: rgba(255, 255, 255, 0.46);

/*
Utilities:
*/

