.admin-home {
  grid-column: 2/16;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: 17rem repeat(3, max-content);
  grid-auto-rows: max-content;
  padding-bottom: 8rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  row-gap: 4rem;
  margin-bottom: 13rem;

  @include respond(big-desktop) {
    grid-column: 3/15;
  }

  // 1600px
  @media screen and (max-width: 100rem) {
    grid-column: 1/17;
    padding: 0 3rem;
  }

  @media screen and (max-width: 87.5rem) {
    padding: 0 10rem;
  }

  @include respond(bp-large) {
    padding: 0 6rem;
  }

  @include respond(bp-small) {
    padding: 0 2rem;
  }

  .info-badges {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    @media screen and (max-width: 87.5rem) {
      grid-template-columns: repeat(3, 1fr);

    }

    @include respond(bp-small) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(bp-tiny) {
      grid-template-columns: 1fr;
     
    }

    .info-badge-panel {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      box-shadow: 0px 0px 50px 0px rgb(203 189 174 / 67%);

      .info-badge__icon {
        width: 5rem;
        height: 5rem;
      }

      .info-badge_content {
        display: flex;
        gap: 1rem;
        align-items: baseline;

        .info-badge_title {
          font-size: 2rem;
          text-align: center;
        }

        .info-badge_value {
          font-size: 2rem;
          font-weight: bold;
        }


      }
    }

  }

  .info-panels {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(12, 1fr);
    row-gap: 4rem;
    grid-column: 1/13;
    column-gap: 2rem;

    .info-panel {
      grid-column: 1 / 6;
      padding: 4rem 0;
      box-shadow: 0px 0px 50px 0px rgba(203, 189, 174, 0.67);

      .info-panel_heading {
        display: flex;
        align-items: center;
        gap: 3rem;
        padding-left: 4rem;
        margin-bottom: 2rem;
        padding-right: 2rem;

        .info-panel-icon {
          width: 6rem !important;
          height: 6rem !important;
        }

        .info-panel_title {
          font-size: 3rem;
          color: $secondary;
        }
      }

      .img-holder {
        height: 24rem;
        position: relative;

        .info-panel-img {
          height: 100% !important;
          position: absolute;
          object-fit: cover;
        }

      }

    }

    .city-most-listings {
      grid-column: 1/6;

      @media screen and (max-width: 87.5rem) {
        grid-column: 1/13;
        
      }

      .info-panel_content {
        padding: 3rem 0;

        .info-panel_list {
          list-style: none;
          width: fit-content;
          margin: 0 auto;

          .info-panel_list-item {
            display: grid;
            grid-template-columns: 4fr 1fr;
            gap: 7rem;
            padding: 1.2rem 0;
            align-items: center;

            .city-state {
              font-size: 2.5rem;
              font-weight: bold;
              color: $secondary;
            }

            .listings-value {
              font-size: 2.5rem;
              font-weight: bold;
              color: $primary;
            }

          }

        }


      }


    }

    .latest-listings {
      grid-column: 6/13;

      @media screen and (max-width: 87.5rem) {
        grid-column: 1/13;
        
      }

      .info-panel_list {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .info-panel_list-item {
          display: grid;
          grid-template-columns: 1fr 1.2fr;
          padding: 0 11%;
          grid-template-rows: max-content;
          column-gap: 3rem;

          .listing-img {
            height: 100%;
            position: relative;

            .info-panel-img {
              height: 100% !important;
              position: absolute;
              object-fit: cover;
            }

          }

          .listing-info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, max-content);
            row-gap: 1.5rem;

            .address {
              grid-column: 1 / 4;

              .listing-street {
                color: $secondary;
                font-family: $font-bold;
                font-size: 2.6rem;
              }

              .listing-city-state {
                font-size: 2.1rem;
                color: $thirdcolor;
              }

              .listing-price {
                font-size: 2.2rem;
                color: $primary;
                font-weight: bold;
              }
            }

          }

          .agent-info {
            display: flex;
            margin-top: 1rem;
            align-items: center;
            gap: 2rem;
            grid-column: 1 / -1;

            .avatar {
              width: 6rem;
              height: 6rem;
            }

            .agent-name {
              color: $primary;
              font-size: 2.3rem;
              font-family: $font-bold;
            }

          }
        }

      }


    }

    .latest-blog-posts {
      grid-column: 1 / 8;

      @media screen and (max-width: 87.5rem) {
        grid-column: 1/13;
        
      }

      .info-panel_list {
        list-style: none;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .info-panel_list-item {
          display: grid;
          grid-template-columns: 1fr 2fr;
          padding: 0 0%;
          grid-template-rows: 16.2rem;
          -moz-column-gap: 3rem;
          column-gap: 3rem;

          .blog-img {
            height: 100%;
            position: relative;


            .info-panel-img {
              height: 100% !important;
              position: absolute;
              object-fit: cover;
            }
          }

          .blog-info {

            .blog-title {
              color: $secondary;
              max-width: 45rem;
              font-size: 2.2rem;
              @include lineClamp(2);
            }

            .author-info {
              display: flex;
              margin-top: 1rem;
              align-items: center;
              gap: 2rem;
              grid-column: 1 / -1;

              .avatar {
                width: 6rem;
                height: 6rem;
              }

              .author-name {
                color: $primary;
                font-size: 2.3rem;
                font-family: $font-bold;
              }

            }

          }

        }

      }

    }

    .most-expensive {
      grid-column: 8 / 13;

      @media screen and (max-width: 87.5rem) {
        grid-column: 1/13;
        
      }

      .img-holder {
        height: 24rem;
        position: relative;
      }

      .info-panel_content {
        padding: 2rem 2rem;

        .info-panel_list {
          list-style: none;
          width: fit-content;
          margin: 0 auto;

          .info-panel_list-item {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            gap: 2rem;
            padding: 0.7rem 0;
            align-items: center;
            grid-template-rows: 14rem;

            .listing-img {
              height: 100%;
              position: relative;

              .info-panel-img {
                height: 100% !important;
                position: absolute;
                object-fit: cover;
              }

            }

            .details {

              .street {
                font-size: 2.1rem;
                color: $secondary;
              }

              .city-state {
                font-size: 2rem;
                color: $thirdcolor;
                display: flex;
                gap: 2rem;
              }

              .price {
                font-size: 2rem;
                font-weight: bold;
                color: $primary;
              }

            }

          }

        }


      }
    }

  }


}